body {
	transition: .75s ease;
}
.nav {
	display: none;
    color: #79e9a3;
    text-decoration: none;
}
.hide {
    display:none;
}   
.display {
	display: unset !important;
} 
.fade-in {
	opacity: 1 !important;
}
.invis {
opacity:0;
}
.html{
}
.swap-color-7 {
    color: #478497 !important;
}
.swap-color-8 {
    background-color: #79e9d4 !important;
}
@media screen and (min-width: 400px) {
 #projects-button {
	font-size: 5em;
 }
}

@media screen and (max-width: 400px) {
 #projects-button {
	font-size: 18vw;
 }
}
@media screen and (max-width: 780px) {
 #front-view {
	margin: 30vh 5.5% 50vh 5.5% !important;
 }
 #back-view {
    margin: 74vh 5.5% 50vh 5.5% !important;
}
#pdf {
    margin: 118vh 5.5% 50vh 5.5% !important;
}
}
@media screen and (max-height: 900px) {
 .nav-link-1-desc {
	font-size: 18vw;
 }
 .swap-color-3 {
    font-size: 6vh !important;
 }
}
.swap-color-1 {
	color: black !important;
}
.default {
	background-color: black;
}
#swap-color-1 {
	color: black !important;
}
.swap-color-2 {
	background-color: #79e9a3 !important;
}
.nav-link-1-desc {
    font-size: 1.75em;
    color: black;
    display: flex;
    transition: .75s;
    opacity: 0;
    position: relative;
    z-index: 2;
    margin: calc(6em + 9.5vh) auto 45vh auto;
    font-size: 1em;
    text-align: center;
    left: 0;
    right: 0;
    text-decoration: none;
    font-family: 'Century Gothic';
    transition: .5s ease-out;
    width: max-content;
}
.nav-link-2-desc {
    font-size: 1.75em;
    color: black;
    display: flex;
    transition: .75s;
    opacity: 0;
    position: absolute;
    z-index: 2;
    margin: 50vh auto 45vh auto;
    font-size: 1em;
    text-align: center;
    left: 0;
    right: 0;
    text-decoration: none;
    font-family: 'Century Gothic';
    transition: .5s ease-out;
    width: max-content;
}
.sub-nav-link-3-desc {
    font-size: 1.75em;
    color: black;
    display: flex;
    transition: .75s;
    opacity: 0;
    position: absolute;
    z-index: 2;
    margin: 60vh auto 45vh auto;
    font-size: 1em;
    text-align: center;
    left: 0;
    right: 0;
    text-decoration: none;
    font-family: 'Century Gothic';
    transition: .5s ease-out; 
    width: max-content;
}
.sub-nav-link-1-desc {
    font-size: 1.75em;
    color: black;
    display: flex;
    transition: .75s;
    opacity: 0;
    position: absolute;
    z-index: 2;
    margin: 20vh auto 45vh auto;
    font-size: 1em;
    text-align: center;
    left: 0;
    right: 0;
    text-decoration: none;
    font-family: 'Century Gothic';
    transition: .5s ease-out;
    width: max-content;
  }
  .sub-nav-2-link-1-desc {
    font-size: 1.75em;
    color: black;
    display: flex;
    transition: .75s;
    opacity: 0;
    position: absolute;
    z-index: 2;
    margin: 55vh auto 45vh auto;
    font-size: 1em;
    text-align: center;
    left: 0;
    right: 0;
    text-decoration: none;
    font-family: 'Century Gothic';
    transition: .5s ease-out;
    width: max-content;
  }
  .sub-nav-link-2-desc {
    font-size: 1.75em;
    color: black;
    display: flex;
    transition: .75s;
    opacity: 0;
    position: absolute;
    z-index: 2;
    margin: 40vh auto 45vh auto;
    font-size: 1em;
    text-align: center;
    left: 0;
    right: 0;
    text-decoration: none;
    font-family: 'Century Gothic';
    transition: .5s ease-out;
    width: max-content;
  }
.nav-sub-link-1-desc {
    font-size: 1.75em;
    color: black;
    display: flex;
    transition: .75s;
    opacity: 0;
    position: absolute;
    z-index: 2;
    margin: 40vh auto 45vh auto;
    font-size: 1em;
    text-align: center;
    left: 0;
    right: 0;
    text-decoration: none;
    font-family: 'Century Gothic';
    transition: .5s ease-out;
    width: max-content;
  }
  .nav-sub-link-2-desc {
    font-size: 1.75em;
    color: black;
    display: flex;
    transition: .75s;
    opacity: 0;
    position: absolute;
    z-index: 2;
    margin: 60vh auto 45vh auto;
    font-size: 1em;
    text-align: center;
    left: 0;
    right: 0;
    text-decoration: none;
    font-family: 'Century Gothic';
    transition: .5s ease-out;
    width: max-content;
  }
.sub-nav-1, .sub-nav-2 {
    display: none;
}
.swap-color-3 {
    color: #735241 !important;
}
.swap-color-4 {
    background-color: #e9b879 !important;
}
.swap-color-5 {
    background-color: #e97979 !important;
}
.swap-color-6 {
    color: #8a1a3f !important;
}

@font-face {
    font-family: 'Century Gothic';
    src: url(/~rad%5cdbr73@art.rutgers.edu/assets/fonts/CenturyGothic.woff);
}